<%= react_component 'PostCodeApp' %>

<!--<%= select_tag "state", options_from_collection_for_select(@states, "id", "name"), prompt: "[All State]" %>-->




<div id="map" class="container"></div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBX3crqk3Cs0mS6RubvUNA9LgkB2PiTchk&libraries=places&callback=initMap"
        async defer></script>